<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Jetchat</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css" media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/sample.css}"/>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/lib/stomp.min.js"></script>
    <script src="/webjars/noty/2.2.4/jquery.noty.packaged.min.js"></script>

    <script type="text/javascript" th:src="@{/js/chatroom.js}"></script>
    <script type="text/javascript" th:src="@{/js/channel.js}"></script>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <h2><a class="navbar-brand" href="#">Jetchat</a></h2>
        <div class="navbar-header"> </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="english" class="dropdown-item" href="?lang=en"
                           th:text="#{menu.language.english}">English</a>
                        <a id="portuguese" class="dropdown-item" href="?lang=pt" th:text="#{menu.language.portuguese}">Portuguese</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" role="button" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><span sec:authentication="name"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a id="settings" class="dropdown-item" href="#">Settings</a>
                        <a id="disconnect" class="dropdown-item" href="#" th:text="#{menu.leave.chatroom}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 70px;">
    <hr/>
    <div class="row">
        <div class="col-lg-2 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Channels</h4>
                </div>
                <div class="panel-body" style="height: 435px; overflow-y: scroll;">
                    <ul class="list-group list-group-flush channel-list-group">
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-sm-8" style="margin-top: 40px;">
            <div class="panel panel-default">
                <div id="newMessages" class="panel-body" style="height: 435px; overflow-y: scroll;">
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" th:text="#{chatroom.users}">Users online</h4>
                </div>
                <div id="users-panel-body-wrapper" class="panel-body" style="height: 435px; overflow-y: scroll;">
                    <div id="users-panel-body" class="list-group">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-sm-6" style="margin-top: 40px;">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sendTo">public</span>
                </div>
                <input id="message" type="text" class="form-control" aria-describedby="send"
                       th:placeholder="#{chatroom.message.placeholder}"/>
                <div class="input-group-append">
                    <button id="send" class="btn btn-outline-secondary" type="button" th:text="#{chatroom.send}">Send
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">

$(document).ready(function() {
<!--	var chatRoomId = /*[[${chatRoom.id}]]*/;-->
<!--	window.chatRoomId = chatRoomId;-->
	window.inputMessage = $("#message");
	window.btnSend = $("#send");
	var btnDisconnect = $("#disconnect");
	window.newMessages = $("#newMessages");
	window.spanSendTo = $("#sendTo");
	window.btnPublic = $("#public");

	inputMessage.on("keypress", checkEnter).focus();
	btnSend.on("click", sendMessage);
	btnDisconnect.on("click", disconnect);
	btnPublic.on("click", function(){
		spanSendTo.text("public");
		inputMessage.focus();
	});

	connect();
	// bindConnectedUsers();
	scrollDownMessagesPanel(newMessages);
	disableInputMessage();
	loadChannels();
});



</script>
</body>
</html>